.banner__wrap {
    background-image: url(/BODA/html/assets/img/banner01.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
  .banner__inner {
    justify-content: space-between;
    text-align: center;
    padding: 85px 0;
    display: flex;
  }
  
  .banner {
    width: 299px;
    height: 327px;
    border-radius: 20px;
    background-color: #fff;
  }
  
  .banner .icon1 {
    width: 94px;
    height: 94px;
    margin-top: 17px;
    margin-bottom: 60px;
    border-radius: 50%;
    background: url(/BODA/html/assets/img/banner_icon.svg) no-repeat;
    margin-left: 98px;
  }
  
  .banner:nth-child(1) .icon1 {
    background-position: 1px;
  }
  
  .banner:nth-child(2) .icon1 {
    background-position: -144px;
  }
  
  .banner:nth-child(3) .icon1 {
      background-position: -288px ;
  }
  
  .banner .title {
    font-size: 25px;
    font-weight: 500;
    margin-bottom: 42px;
  }
  
  .banner a {
    font-size: 20px;
    color: #323232;
  }
  
  @media (max-width: 960px) {
    .banner__inner {
      padding: 100px 0;
    }
  }
  
  @media (max-width: 600px) {
    .banner__inner {
      padding: 80px 0;
    }
    .banner__inner .title {
      font-size: 30px;
      margin-bottom: 20px;
    }
    .banner__inner .desc {
      font-size: 16px;
      margin-bottom: 40px;
    }
  }