.card2__wrap {
  display: flex;
}
.card2__inner {
  width: 100%;
}
.left {
  margin-bottom: 60px;
}
.card2 {
  width: 30%;
  height: 390px;
  float: left;
  position: absolute;
  align-items: center;
  display: flex;
}

.right {
  width: 68%;
  float: right;
  margin-bottom: 60px;
  position: relative;
  justify-content: flex-end;
  display: block;
}
.card2 .title {
  font-size: 60px;
  margin-bottom: 36px;
  font-weight: 500;
  display: flex;
  justify-content: space-between;
}

.icon {
  float: left;
  display: flex;
  align-items: center;
}

button {
  width: 177px;
  height: 50px;
  background-color: #000;
  color: #fff;
  font-weight: 100;
  border-radius: 5px;
  text-align: center;
}
.b2 {
  margin-left: 11px;
}

.card2__img {
  width: 310px;
  float: right;
  margin-left: 30px;
}

.btn__icon {
  width: 52%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 50px;
  margin-left: 5px;
}

.button-next,
.button-prev {
  width: 17px;
  height: 17px;
  cursor: pointer;
  margin: 0 5px;
}

.button-dot {
  left: 50%;
  bottom: 0;
}

.button-dot div {
  left: -50%;
  display: flex;
  align-items: center;
}
.dot {
  cursor: pointer;
  width: 4px;
  height: 4px;
  background: none;
  border: 2px #000 solid;
  border-radius: 50px;
  margin: 0 5px;
}

/* .button-dot a:hover {
  background: #000;
  border: none;
  width: 6px;
  height: 6px;
} */

.card2__img {
  position: relative;
  overflow: hidden;
}

.image__box img {
  vertical-align: top;
  transition: all 0.6s ease-in-out;
}

.image__box img {
  vertical-align: top;
  transition: all 0.6s ease-in-out;
}

.imge__desc {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
  backdrop-filter: blur(10px );
  padding: 23px 20px;
  box-sizing: border-box;
  background: rgba(0, 0, 0, 0.1);
  bottom: -100px;
  transition: all 0.3s ease-in-out;
}

.card2__img a {
  font-size: 16px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1; 
  -webkit-box-orient: vertical;
}

/* 이미지 올라오게 해줌 */
.img1:hover .imge__desc {
  bottom: 0;
}

.imge__desc .more {
  font-size: 16px;
}
.imge__desc .more:hover {
  text-decoration: underline;
}

.img1 .imge__desc{ background: rgba(255, 255, 255, 0.5);}
.img2 .imge__desc{ background: rgba(255, 255, 255, 0.5);}