/* reaet */
* {
    margin: 0;
    padding: 0;
}
li {
    list-style: none;
}
a{
    color: #333;
    text-decoration: none;
}
.clearfix::before, .clearfix::after {display: block; content: ''; clear: both;}
/* layout */
#wrap {
    width: 1000px;
    height: 1000px;
    margin: 0 auto;
}
#header {
    background: #ccc;
    height: 100px;
}
#slider {}
#info {}
#footer {}

/* header */

#header h1 {float: left;}
#header h1 img { width: 130px;}
#header h1 .nav {float: right;}
#header h1 .nav ul {}
#header h1 .nav li {float: left;}
#header h1 .nav li a {display: block ; padding: 30px 15px;}
